.navbar-image {
  max-height: 30px;
}

.foodie-header {
  background-image: url("./images/foodie-header.jpg");
  width: 100%;
  height: 600px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.foodie-header input {
  width: 50%;
  height: 50px;
}

.header-catch {
  color: white;
  font-size: 11em;
  margin-bottom: 0.5em;
}

.homepage-link {
  text-decoration: none;
}

.card {
  width: 350px;
  height: auto;
}

.card img {
  height: 250px;
  object-fit: cover;
}

.developer-card {
  margin: 0.5em;
  padding: 0.5em;
  text-align: left;
}

.developer-card img {
  max-width: 100px;
}

.custom-jumbotron {
  padding: 2rem 1rem;
  color: white;
}

.text-help {
  color: #99A3A4;
}

.bg-sunkist {
  background-image: linear-gradient(to top,#f2994a,#f2c94c);
}

.navbar-sunkist {
  background-image: linear-gradient(to left,#f2994a,#f2c94c);
}

.btn-sunkist:hover {
  background-color: #f2994a;
}

.btn-sunkist {
  background-color: #f2c94c;
  transition-property: background-color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.1s;
}

.navbar-border {
  height: 1px;
}

.card-img-overlay {
  opacity: 0;
  background: rgba(0, 0, 0, 0.658);

  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 0.1s;
}

.card-img-overlay:hover {
  opacity: 1;
}

.dev-card-img:hover {
  filter: brightness(50%);
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  background-image: linear-gradient(to top left, #43cea2,#185a9d);
  border-radius: 1.25rem;

  width: 70%;
  height: 60vh;

  margin-top: 5rem;
  margin-right: 0rem;

  z-index: 6;
}

.signup-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.signup-form input {
  width: 50%;
  margin-top: 1rem;

  border-bottom: white solid 0.1rem;
  border-left: none;
  border-right: none;
  border-top: none; 
  border-radius: 0rem;

  background: transparent;
  color: white;
  font-size: 2rem;
  text-align: center;

  z-index: 3;
}

.signup-form input:focus {
  box-shadow: none;
  border-color: white; 

  background: transparent;
  color: white;
}

@media (min-width: 576px) {
  .custom-jumbotron {
    padding: 4rem 2rem;
  }
}

form input{
  margin-bottom: 0.5em;
}

.navbar-yellow {
  opacity: 0.6;
}