.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.bg-react-dark {
  background-color: #282c34;
}

.logo {
  max-height: 30px;
}

.foodie-header {
  background-image: url("./images/foodie-header_edited.jpg");
  background-size: cover;

  height: 600px;
}

.foodie-header form .input-group {
  width: 75%;
}

.foodie-header input {
  width: 50%;
  height: 50px;
}


