.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.navbar-image {
  max-height: 30px;
}

.foodie-header {
  background-image: url("./images/foodie-header_edited.jpg");
  background-size: cover;

  height: 600px;
}

.foodie-header form .input-group {
  width: 75%;
}

.foodie-header input {
  width: 50%;
  height: 50px;
}

.header-catch {
  color: white;
  font-size: 10em;
  text-shadow: 4px 6px black;
  padding-bottom: 0.5em;
  text-align: center;
  margin-top: 0.5em;
}

.card {
  width: 350px;
  height: auto;
}

.card img {
  max-width: 100%;
  max-height: auto;
}

.developer-card {
  margin: 0.5em;
  padding: 0.5em;
  text-align: left;
}

.developer-card img {
  max-width: 100px;
}

.custom-jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  margin-top: 4rem;
  color: white;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

@media (min-width: 576px) {
  .custom-jumbotron {
    padding: 4rem 2rem;
  }
}

form input{
  margin-bottom: 0.5em;
}