.restaurant-card {
    display: flex;
    flex-direction: column;

    width: 350px;
    height: 500px;
    border-radius: 1.25rem;
    
    background: rgba(255, 255, 255, 0.644);
    filter: none;
    
    margin-right: 0.75rem;
    margin-bottom: 0.75rem;
}

.restaurant-card img {
    height: 300px;
    object-fit: cover;

    border-top-left-radius: 1.21rem;
    border-top-right-radius: 1.21rem;
}
